@import "../../styles/index.scss";

.signUp {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  padding: 0 24px;

  .auth__button {
    background: none;
    font-weight: $fw-medium;
    cursor: pointer;
    color: $primary;

    .active {
    }

    &--request {
      position: absolute;
      right: 10px;
      top: 39px;
    }

    &--confirm {
    }
  }

  .email-auth-input__wrapper {
    position: relative;
  }

  .email-auth-timer__wrapper {
    position: absolute;
    right: 10px;
    top: 12px;
    @include flex-center;
    gap: 5px;

    button {
      color: $primary;
    }
  }

  &__title {
    font-size: $fz-lg;
    font-weight: $fw-bold;
    text-align: center;
    margin-bottom: 64px;
  }

  &__form {
    position: relative;
    width: 100%;
    @include flex-column;
    gap: 16px;
  }

  &__group {
    // position: relative;
  }

  &__group:first-child {
    > input:first-of-type {
      margin-bottom: 8px;
    }
  }

  &__login-link {
    margin-top: 24px;
    text-align: center;
    font-size: $fz-xs;
    color: $gray-500;

    a {
      font-weight: $fw-medium;
      color: $primary;
    }
  }
}
