@import "../../styles/index.scss";

.date-picker {
  &__container {
    @include flex-center;
    gap: 4px;
  }

  &__icon {
    height: 21px;
    cursor: pointer;
  }

  &__date {
    font-size: $fz-sm;
    font-weight: $fw-medium;
  }

  &__calendar {
    width: 300px;
    min-height: 300px;
    border: 1px solid $gray-200;
    border-radius: 10px;
    background-color: $white;

    position: absolute;
    right: 0;
    top: 30px;

    padding: 10px;
  }
}
