@import "../../styles/index.scss";

.main {
  @include flex-column;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
  &__title {
    padding-bottom: 64px;
  }

  &__description {
    font-size: $fz-sm;
    font-weight: $fw-medium;
  }

  &__heading {
    font-size: 55px;
    letter-spacing: -6.6px;
    font-weight: $fw-extraBold;
    margin-bottom: 24px;
  }

  &__highlight {
    color: $primary;
  }

  &__sub-description {
    font-weight: $fw-medium;
    letter-spacing: -0.272px;
  }

  &__button-group {
    @include flex-column;
    gap: 8px;
  }
}
